.text
  %section#clients

    %h1 Clients

    %p
      The recommended client(s) for a language are marked with a <span class="star">&#9733;</span>.

    - @clients_by_language.each do |language, clients|
      %h2(id="#{language}")= language

      %table
        - clients.each do |client|
          %tr
            %td
              = client["name"]
              - if client["recommended"]
                %span.star &#9733;

            %td
              - if client["repository"]
                %a(href="#{client["repository"]}") Repository

              - if client["url"]
                %a(href="#{client["url"]}") Homepage

            %td
              - client["authors"].each do |author|
                %a(href="http://twitter.com/#{author}")= author

            %td
              = client["description"]
