.text
  %section#clients

    %h1 Clients

    - @clients_by_language.each do |language, clients|
      %h2= language

      %table
        - clients.each do |client|
          %tr
            %td
              = client["name"]

            %td
              - if client["repository"]
                %a(href="#{client["repository"]}") Repository

              - if client["url"]
                %a(href="#{client["url"]}") Homepage

            %td
              - client["authors"].each do |author|
                %a(href="http://twitter.com/#{author}")= author

            %td
              = client["description"]
