%section#commands
  %nav
    .container
      %label
        %span Filter by group:

        %select.command-reference-filter
          %option(value="") All

          - Reference::GROUPS.sort_by(&:last).each do |name, description|
            %option(value="#{name}")= description

      or

      %label
        %span search for:
        %input.js-command-reference-search(placeholder="e.g. #{@commands.sample.name}" autofocus)

  .container
    %ul
      - @commands.each do |command|
        %li(data-group="#{command.command["group"]}" data-name="#{command.name.downcase}")
          %a(href="/commands/#{command.to_param}")
            %span.command
              = command.name

              %span.args
                - command.arguments.each do |argument|
                  = argument

            %span.summary= command.command["summary"]
