%section#commands

  .container
    %ul
      - @commands.each do |command|
        %li(data-group="#{command.command["group"]}" data-name="#{command.name.downcase}")
          %a(href="/commands/#{command.to_param}")
            %span.command
              = command.name

              %span.args
                - command.arguments.each do |argument|
                  = argument

            %span.summary= command.command["summary"]
