%section#commands
  %nav
    .container
      .mobile-nav
        %select.command-reference-filter
          %option(value="") All

          - Reference::GROUPS.sort_by(&:last).each do |name, description|
            %option(value="#{name}")= description

      .desktop-nav
        %a(href="#") All

        - Reference::GROUPS.each do |name, description|
          %a(href="##{name}")= description

  .container
    %ul
      - @commands.each do |command|
        %li(data-group="#{command.command["group"]}")
          %a(href="/commands/#{command.to_param}")
            %span.command
              = command.name

              %span.args
                - command.arguments.each do |argument|
                  = argument

            %span.summary= command.command["summary"]
