
%section#commits
  %h2 Latest commits in Redis master

  - if @commits.empty?
    %p Nothing to show at the moment :-(
  - else
    %ul
      - @commits.each do |commit|
        %li
          %img(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(commit["author"]["email"])}.jpg?s=20" width="20" height="20" alt="#{commit["author"]["name"]}" title="#{commit["author"]["name"]}")

          %a(href="#{commit["url"]}")= commit["message"].split("\n").first

          - # %time(datetime="#{commit["committed_date"]}")
          - #   = commit["committed_date"]
