!!! 5

%html
  %head
    %meta(charset="utf-8")
    %link(rel="stylesheet" href="/styles.css")
    %link(rel="shortcut icon" href="/images/favicon.png")
    %link(rel="search" type="application/opensearchdescription+xml" title="Look up a Redis command" href="/opensearch.xml")
    %meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")

    %title
      = [@title, "Redis"].compact.join(" – ")

    :javascript
       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-20243082-1']);
       _gaq.push(['_trackPageview']);

       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

  %body(class="#{@css.join(" ") if @css}")
    .mobile-menu.slideout-menu
      %header.menu-header

      %section.menu-section
        %ul.menu-section-list
          %li
            %a.home(href="/") Home
          %li
            %a(href="/commands") Commands
          %li
            %a(href="/clients") Clients
          %li
            %a(href="/documentation") Documentation
          %li
            %a(href="/community") Community
          %li
            %a(href="/download") Download
          %li
            %a(href="/support") Support
          %li
            %a(href="/topics/license") License

    .site-wrapper

      %header.site-header
        %nav.container
          .mobile-header
            %button.btn-hamburger.js-slideout-toggle
              %span.fa.fa-bars

            %a.home(href="/")
              %img(src="/images/redis-white.png" alt="Redis")

          .desktop-header
            %a.home(href="/")
              %img(src="/images/redis-white.png" alt="Redis")
            %a(href="/commands") Commands
            %a(href="/clients") Clients
            %a(href="/documentation") Documentation
            %a(href="/community") Community
            %a(href="/download") Download
            %a(href="/support") Support
            %a(href="/topics/license") License

      - if Date.today < Date.new(2016, 5, 12)
        %aside.wide-callout
          .container
            <a href="http://redisconference.com">RedisConf 2016 is near!</a> Join us in San Francisco, May 10 - 11 2016, Mission Bay Conference Center.<br> Registration is <a href="https://www.emp1reg.com/profile/form/index.cfm?PKformID=0x19134f796">open here</a>. Please also consider <a href="https://www.emp1reg.com/profile/form/index.cfm?PKformID=0x19077fb7a">submitting a talk</a>.

      = content

      %footer.site-footer
        .container
          %p
            This website is
            <a href="https://github.com/antirez/redis-io">open source software</a>.
            See all <a href="/topics/sponsors">credits</a>.

          .sponsor
            Sponsored by
            %a(href="https://redislabs.com/")
              %img(src="/images/redislabs.png" alt="Redis Labs" title="Get a Managed Redis" width="128" height="25")

%script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js")
%script(src="/slideout.js?#{File.mtime("views/slideout.js").to_i}")
%script(src="/app.js?#{File.mtime("views/app.js").to_i}")
