!!! 5

%html
  %head
    %meta(charset="utf-8")
    %link(rel="stylesheet" href="/styles.css?#{File.mtime("views/styles.sass").to_i}" type="text/css")
    %link(rel="shortcut icon" href="/images/favicon.png")
    %link(rel="search" type="application/opensearchdescription+xml" title="Look up a Redis command" href="/opensearch.xml")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js")
    %script(src="/app.js?#{File.mtime("views/app.js").to_i}" defer async)
    %meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")

    %title
      = [@title, "Redis"].compact.join(" – ")

    :javascript
       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-20243082-1']);
       _gaq.push(['_trackPageview']);

       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

  %body(class="#{@css.join(" ") if @css}")
    %header
      .container
        %a(href="/")
          %img(src="/images/redis.png" alt="Redis" width="93" height="30")

        %nav
          %a(href="/commands") Commands
          %a(href="/clients") Clients
          %a(href="/documentation") Documentation
          %a(href="/community") Community
          %a(href="/download") Download
          %a(href="https://github.com/antirez/redis/issues") Issues
          %a(href="/topics/license") License

    = content

    %footer
      %p
        This website is
        <a href="https://github.com/antirez/redis-io">open source software</a>
        developed by <a href="http://citrusbyte.com">Citrusbyte</a>.
        <br> The Redis logo was designed by <a href="http://www.carlosprioglio.com/">Carlos Prioglio</a>. See more <a href="http://redis.io/topics/sponsors">credits</a>.

      .sponsor
        Sponsored by
        %img(src="/images/vmware.png" alt="VMWare" width="121" height="19")
