.text

  %h1.command
    %span.name= @command.name
    - @command.arguments.each do |arg|
      %span.arg= arg

  %article

    %p
      - if @command.since
        Available since #{@command.since}.
      - else
        Available in Redis master.

    %aside

      - unless @related_topics.empty?
        %h2 Related topics

        %ul
          - @related_topics.each do |name, url|
            %li
              %a(href="#{url}")= name

      %h2
        Related commands

      %ul
        - @related_commands.each do |command|
          %li
            %a(href="/commands/#{command.to_param}")
              - if command == @command
                %strong= command.name
              - else
                = command.name

    ~ render("#{documentation_path}/commands/#{@name.downcase}.md")
