%h1
  = @name

  - (@command["arguments"] || []).each do |argument|
    %span.argument
      - if argument["type"] == "enum"
        = argument["enum"].join("|")

      - else
        - if argument["command"]
          %span.command
            = argument["command"]

        - if argument["name"].kind_of?(Array)
          = argument["name"].join(" ")
        - else
          = argument["name"]

%article
  %p
    - if @command["since"]
      Available since #{@command["since"]}.
    - else
      Available in Redis master.

  = @body
